h2 {
  font-size: 275%;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #31343D;
  align-items: center;
  height: 80px;
  padding-right: 50px;
}
.logo {
  background-color: #92CCCE;
  padding: 5px 10px 5px 50px;
}
nav {
  display: flex;
  gap: 30px;
}
.nav-item {
padding-bottom: 5px;
color: #92CCCE;
text-decoration: none;
font-size: 16px;
border-bottom: 2px solid #92CCCE;
}